<% unless @posts.empty? %>
  <%= link_to "Create post", new_post_path %>
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "show", post_path(post.id) %>
    </p>
  <% end %>
<% else%>
  <p>Nothing to show</p>
  <%= link_to "Create post", new_post_path %>
<% end %>